:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  
}

body.dark-mode {
  --bg-color: #121212;
  --text-color: #ffffff;
  
}


$main-text: 'Montserrat', sans-serif;
$black: #424436;
$green: #92A134;
$sale: #F26D22;
$white: #FFFFF1;
$grey_divider: #DDDDDD;
$grey: #8B8B8B;
$light_grey: #F2F6D3;
$small: 6px;

